.card {
  border-radius: 10px;
  background-color: #222;
  padding-bottom: 14px;
}

.card__image {
  display: block;
  width: 100%;
  height: calc((100vw - 10px - 10px) / 1.786);
  object-fit: contain;
}

@media screen and (min-width: 630px) {
  .card__image {
    height: calc((100vw - 30px - 30px - 30px) / 2 / 1.786);
  }
}

@media screen and (min-width: 930px) {
  .card__image {
    height: calc((100vw - 30px - 30px - 30px - 30px) / 3 / 1.786);
  }
}

@media screen and (min-width: 1280px) {
  .card__image {
    height: calc((1280px - 70px - 20px - 20px - 20px - 70px) / 4 / 1.786);
  }
}

.card__caption-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 14px 12px 10px;
}

.card__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  margin: 0 5px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__remove-btn {
  cursor: pointer;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  background-image: url('../../../images/cross.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}

.card__like-btn {
  cursor: pointer;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0;
}

.card__like-btn_active {
  background-color: #2BE080;
}

.card__movie-duration {
  font-size: 11px;
  line-height: 13px;
  color: #8B8B8B;
  padding-left: 12px;
}
