.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
  padding: 40px 10px 19px;
}

@media screen and (min-width: 630px) {
  .card-list {
    padding: 70px 30px 19px;
  }
}

@media screen and (min-width: 1280px) {
  .card-list {
    padding: 70px 70px 19px;
  }
}

.card-list__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style: none;
  margin: 0 0 80px;
  padding-left: 0;
}

@media screen and (min-width: 630px) {
  .card-list__wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media screen and (min-width: 930px) {
  .card-list__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .card-list__wrapper {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 32px;
  }
}

.card-list__more-button {
  cursor: pointer;
  background-color: transparent;
  width: 240px;
  height: 36px;
  border: 2px solid #424242;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  transition: opacity .2s ease;
}

.card-list__more-button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 630px) {
  .card-list__more-button {
    width: 320px;
  }
}
