.about-me__container {
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
  padding: 70px 14px 35px;
}

@media screen and (min-width: 768px) {
  .about-me__container {
    padding: 90px 50px 45px;
  }
}

.about-me__heading {
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: -0.04em;
  color: #fff;
  margin: 0 0 28px;
}

@media screen and (min-width: 768px) {
  .about-me__heading {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 23px;
  }
}

.about-me__line {
  height: 1px;
  background-color: #DADADA;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .about-me__line {
    margin-bottom: 66px;
  }
}

.about-me__card {
  display: grid;
  justify-items: center;
}

@media screen and (min-width: 544px) {
  .about-me__card {
    grid-template-columns: 1fr auto;
    column-gap: 49px;
    grid-template-areas: "a b";
  }
}

.about-me__ava {
  width: 292px;
  height: 352px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-bottom: 40px;
}

@media screen and (min-width: 544px) {
  .about-me__ava {
    grid-area: b;
    width: 255px;
    height: 307px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .about-me__ava {

  }
}

.about-me__description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 544px) {
  .about-me__description-wrapper {
    grid-area: a;
  }
}

.about-me__inner-description-wrapper {

}

.about-me__title {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
  color: #fff;
  margin: 0 0 20px;
}

@media screen and (min-width: 544px) {
  .about-me__title {
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */
    margin-bottom: 16px;
  }
}

.about-me__subtitle {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height, or 145% */
  color: #fff;
  margin: 0 0 20px;
}

@media screen and (min-width: 544px) {
  .about-me__subtitle {
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
  }
}

.about-me__paragraph {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /* or 145% */
  color: #fff;
  mix-blend-mode: normal;
  margin: 0 0 40px;
}

@media screen and (min-width: 544px) {
  .about-me__paragraph {
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
  }
}

.about-me__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #fff;
  text-decoration: none;
}
